.cards {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  margin-top: 100px;
  justify-content: center;
  align-items: center;
}
.card_name_charizard {
  grid-area: charizard;
  background-color: rgb(244, 122, 94);
}

.card_name_venusaur {
  background-color: rgb(151, 174, 127);
  grid-area: venusaur;
}

.card_name_totodile {
  background-color: rgb(107, 202, 249);
  grid-area: totodile;
}
.card_name_blastoise {
  grid-area: blastoise;
  background-color: rgb(79, 79, 180);
}
.card_name_raichu {
  grid-area: raichu;
  background-color: rgb(229, 226, 51);
}
.card_name_mew {
  grid-area: mew;
  background-color: rgb(251, 155, 246);
}
