.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  background-color: white;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  border: 1px solid #eaeaea;
  cursor: pointer;
  font-size: 12px;
}

.card__title {
  font-size: 1.5em;
  margin: 0;
  text-align: center;
  font-style: italic;
  font-weight: 600;
  color: #170b21;
  margin-bottom: 12px;
  padding: 2em;
  letter-spacing: 0.5px;
  line-height: 2rem;
}

.card__image {
  width: 20em;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 16px 18px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 600px) {
  .card {
    font-size: 10px;
  }
}
