.footer {
  font-size: 20px;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: white;
  background-color: rgb(27, 23, 23);
}
