.header {
  text-align: center;
  padding: 40px 20px;
  width: 100%;
  background: linear-gradient(135deg, #123564, #b3b1b1);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.header__title {
  color: rgb(255, 255, 255);
  line-height: 2rem;
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 1px;
  margin: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.header__title::first-letter {
  color: rgb(252, 249, 53);
}

@media screen and (min-width: 1080px) {
  .header {
    background: linear-gradient(135deg, #b3b1b1, #123564);
  }
}
