.button-container {
  position: relative;
  margin-left: 40px;
  height: 30px;
}

.radio-button {
  opacity: 0;
  position: absolute;
  padding: 20px;
  z-index: 2;
  cursor: pointer;
}

.radio-pokemon {
  position: absolute;
  width: 20px;
  height: 20px;
  background: red;
  border-radius: 999px;
}

.radio-button:checked ~ .radio-pokemon {
  background: linear-gradient(135deg, #641212, #ffefef);
}
